:root {
  --color-one: #e5e5e5;
  --font: "Kiwi Maru", serif;
}

.hero {
  background-color: var(--color-one);
}

a,
h1,
h2,
h3,
p {
  font-family: var(--font);
  text-align: center;
}

h1 {
  padding: 20px 0 10px 0;
}

h3 {
  padding: 20px;
}

.hero h2 {
  font-size: 18px;
  padding: 0 0 10px 0;
}

img {
  max-width: 360px;
}

.text {
  padding: 20px;
  background-color: var(--color-one);
}

a {
  max-width: 200px;
  padding: 10px;
}

.about {
  padding: 20px;
}
